.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $card-gap;
  justify-content: center;
  justify-items: center;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media screen and (max-width: $breakpoint-l) and (min-width: $breakpoint-m){
    & {
      grid-template-columns: repeat(3, 1fr);
      max-width: $card-width * 3 + $card-gap * 2;
    }
  }

  @media screen and (max-width: $breakpoint-m) and (min-width: $breakpoint-s){
    & {
      grid-template-columns: repeat(2, 1fr);
      max-width: $card-width * 2 + $card-gap;
    }
  }

  @media screen and (max-width: $breakpoint-s){
    & {
      grid-template-columns: 1fr;
      max-width: $card-width;
    }
  }
}
